.uk-container-expand{
  margin-top: -4vh;
}
.background-img {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(100, 200, 255, 0.5)),
  url(../img/cover.jpg) center / cover no-repeat fixed;
  min-height: 80vh;
  min-width: 100vw;
  position: relative;
}

* + .uk-margin{
  margin-top: 0;
}
.uk-form-label{
  float: right;
  padding-right: 20px;
}
.uk-input{
  text-align: right;
  border-radius: 15px;
  direction: rtl;
}
#form-stacked-text{
  border-radius: 5px;
}
.uk-button{
  border-radius: 20px;
}
.notes_height{
  height: 100px;
}